.child1 {
  background-color: red;
  height: 150px;
  width: 150px;
}
.child2 {
  background-color: green;
  height: 50px;
  width: 50px;
  position: absolute;
  /* top: 0px; */
  bottom: 0px;
  left: 50px;
}
.child3 {
  background-color: purple;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0px;
}
.container {
  border: 3px solid black;
  width: 500px;
  position: relative;
}

/* 
In Fixed positioning it's relative to the viewport, or the browser window itself

Always the parent is the browser or viewport

Regardless of how far down the page you scroll the element will always stay in the same spot. 




*/
